

<button pButton type="submit" label="Crear Tarea" (click)="crearTarea()"></button>

<p-table [value]="tareas" >
    <ng-template pTemplate="header">
        <tr>
            <th>Código</th>
            <th>Descripción</th>
            <th>Vigencia</th>
            <th>Prioridad</th>
            <th>Categoría</th>
            <th></th>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-obj>
        <tr>
              
            <td>{{ obj.idTarea }}</td>
            <td>{{ obj.descripcion }}</td>
            <td>{{ obj.fechaVigencia }}</td>
            <td>{{ obj.prioridad }}</td>
            <td>{{ obj.categoria }}</td>
            <td class="col-content-btns">
                <p-button class="btn-editar" icon="pi pi-pencil" pTooltip="Editar" (click)="actualizaTarea(obj.idTarea)" tooltipPosition="bottom"></p-button>
                <p-button icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="bottom" (click)="eliminaTarea(obj.idTarea)" ></p-button>
            </td>  
        </tr>
    </ng-template>
</p-table>

